{% extends './navbar.html' %}

{% block tittle %}Solicitudes{% endblock %}

{% block body %}

<div>
    <h2>Listado de solicitud de turnos</h2>
    <br>
    <br>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Vacuna</th>
            <th scope="col">Fecha de solicitud</th>

            <th scope="col">Fecha de turno</th>
            <th scope="col">Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for solicitud in solicitudes %}
        <tr>
            <th scope="row">{{ solicitud[3] }}</th>
            <td>{{ solicitud[4] }}</td>
            <td>
                {% if solicitud[5] == None %}
                <p style="color:#FF0000" ;>Sin turno</p>
                {% else %}
                <p style="color:#00ff37" ;>{{ solicitud[5] }}</p>
                {% endif %}
            </td>
            <td>
                <button type="button" class="btn btn-primary"
                    onclick="window.location.href=''">Asignar</button>
                <button type="button" class="btn btn-primary"
                    onclick="window.location.href=''">Descartar</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}