{% extends './navbar.html' %}

{% block tittle %}Home{% endblock %}

{% block body %}

<div>
    <h2>Listado de vacunas</h2><button style="position: relative;" type="button" class="btn btn-primary" onclick="window.location.href='agregar_vacuna'">Agregar</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for vacuna in vacunas %}
        <tr>
            <th scope="row">{{ vacuna[0] }}</th>
            <td>{{ vacuna[1] }}</td>
            <td>
                <button type="button" class="btn btn-primary" onclick="window.location.href='/vacuna/{{vacuna[0]}}'">Editar</button>
                <button type="button" class="btn btn-danger" onclick="window.location.href='/eliminar_vacuna/{{vacuna[0]}}'">Eliminar</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}